@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

@import "../../styles/constants.scss";

.container {


   .language_selection {
      // position:fixed;
      position: absolute;
      display: flex;
      flex-direction: column;
      right: 4rem;
      bottom: 2rem;
      font-family: 'Oswald', sans-serif;
      font-size: 1.2rem;
      padding: 0.5rem;

      .language {
         padding: 0.5rem;
         border-bottom: 2px solid black;
      }
      :hover{
        cursor: pointer;
      }
   }


   
   .mode_selection {
      position: fixed;
      left: 4rem;
      bottom: calc(50% - 50px);
      font-family: 'Oswald', sans-serif;
      font-size: 1.5rem;
      padding: 0.5rem;

      .mode {
         padding: 0.5rem;
         border-bottom: 2px solid black;
      }
   }

}

.lang_mobile {
   position: fixed;
   top:2.5rem;
   right:1.2rem;
   bottom:2rem;

   font-family: 'Oswald', sans-serif;
   font-size: 1rem;
   padding: 0 0.5rem;
   border: 2px solid black;  
}