
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');

@import "../../styles/constants.scss";
.container{
   // border:2px solid black;
   //border-right:6px solid black;
   margin:2rem;
   width:80%;
   padding:2rem;
   height:100%;
   position:relative;
      @media screen and (max-width: 800px){
      width:90%;
      position:relative;
      top:0;
      left:0;
      margin:5%;
      margin-bottom:10%;
      
      
   }

   .intro{
      font-family: 'Oswald', sans-serif;
      font-size:3rem;
   }
   .brief{
      font-family: 'Quattrocento', serif;
      margin-top:2rem;
      font-size:1.5rem;
   }

   .index{
      position:absolute;
      right:0;
      top:0;
   }

}

.tools{
   // height:4rem;
   display:flex;
   flex-direction:row;
   justify-content:flex-start;
   margin-top:4rem;
   // width: min-content;
   // border-radius:200px;
   padding-right:1rem;

   svg{
      //  background-color: rgba(63, 63, 63, 0.918);
      //  padding:1rem;
      //  border-radius:400px;
      //  border:0px;
      //  height:2rem;
      //  width:2rem;
       margin:0.5rem;

   
   }

}