
.container{
   background-color: black;
}

.arrow_back{
   position:fixed;
   top:2rem;
   left:50%;
   background-color: black;
   z-index:101;
   @media screen and (max-width: 800px){
      top:0.5rem;
      
      
   }
}
