
.container{
   display:flex;
   // padding:5vh;
   justify-content: center;
   justify-items: center;
   // width:50%;
   @media screen and (max-width: 800px){
      width:100%;
      padding:0;
      flex-direction: column;
      
   }
}

.main{
  height:100vh;
  position:fixed;
  width:100%;
  background-color: white;
  z-index:100;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border:10px solid red;
  align-content: center;
}


.left_container{
   // border-top: 4px solid black;
   width:40%;
   height:80vh;
    position:fixed;
    left:14%;
   @media screen and (max-width: 800px){
      width:100%;
      position:relative;
      top:0;
      left:0;
      margin:5vh 0;
      margin-top:2.5vh;
      height:80vh;
      
   }
}

.right_container{
   // border-top: 4px solid black;
   width:40%;
   right:13%;
    position:absolute;
    height:80vh;

   @media screen and (max-width: 800px){
      width:100%;
      position:relative;
      top:0;
      left:0;
      margin:5vh 0;
      margin-top:2.5vh;
      height:80vh;
      
   }
}