
.container{
   display:flex;
   // padding:5vh;
   justify-content: center;
   justify-items: center;
   // width:50%;
   @media screen and (max-width: 800px){
      width:100%;
      padding:0;
      flex-direction: column;
      
   }
}

.main{
  height:80vh;
  position:fixed;
  width:100%;
  background-color: white;
  z-index:100;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  position:relative;
  align-content: center;
  background-color: white;
   
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAACNJREFUKFNj3LFjx38PDw9GBgKAoAKY/sGmEJsHB5sbsYU9ADwoCAuEH7F9AAAAAElFTkSuQmCC
  ) repeat;

  @media screen and (max-width: 800px){

    padding:1rem;
 }

  .action_button{
    position:absolute;
    bottom:2rem;
    right:2rem;
    background-color: none;
    color:none;
    border:2px solid black;
    padding:2rem;
    @media screen and (max-width: 800px){
      transform: rotate(90deg);
      position:fixed;
      bottom:0;
      
      
   }


  }

}


.left_container{
   // border-top: 4px solid black;
   width:45%;
   height:90vh;
   margin:5vh 0;
    position:fixed;
    left:11%;
    
   @media screen and (max-width: 800px){
      width:100%;
      position:relative;
      top:0;
      left:0;
      margin:0;
      height:100vh;
      // margin:5vh 0;
      // margin-top:2.5vh;
      // height:80vh;
      
   }
}

.right_container{
   // border-top: 4px solid black;
   width:40%;
   right:13%;
    position:absolute;
    height:80vh;
    

   @media screen and (max-width: 800px){
      width:100%;
      position:relative;
      top:0;
      left:0;
      margin:5vh 0;
      margin-top:2.5vh;
      height:80vh;
      
   }
}

.labels{
  position:fixed;
  top:5rem;
  left:45%;
  font-size:1.2rem;
  width:30%;
  @media screen and (max-width: 800px){
    top:2rem;
left:40%;
    width:50%;
    font-size:0.8rem;
 }

}

.labels2{
  position:fixed;
  bottom:2rem;
  right:2rem;
  color:blue;
  text-decoration: underline;
}