@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

$main:  'Oswald', sans-serif;
$secondary:'Quattrocento', serif;


$pholder:#9797976e;


$mobile: "only screen and (max-width : 800px)";