 /* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');  */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;

    background-color: rgb(229, 232, 241);
   color: #232C3E;
   background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAACNJREFUKFNj3LFjx38PDw9GBgKAoAKY/sGmEJsHB5sbsYU9ADwoCAuEH7F9AAAAAElFTkSuQmCC
   ) repeat;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



